body{
  width: 1000px;
  height: auto;
  margin: 0px auto;
 }

/*-----------------------------------
  Content
-------------------------------------*/
#contentform{
  height: 960px;
  margin: 0 auto;
  background: #ddd;
  }

/*-----------------------------------
  Block header
-------------------------------------*/
.header {
  position: fixed;
  z-index: 5;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #F5F5F5;
  padding: 0px 10px;
  height: 50px;
  line-height: 50px;
  -moz-box-shadow: 0 5px 5px -5px #999;
  -webkit-box-shadow: 0 5px 5px -5px #999;
  box-shadow: 0 5px 5px -5px #999;
   color: #000;
  font-size: 35px;
  text-align: center;
  }

.header a{
  font-size: 14px;
  }

/*-----------------------------------
  Map
-------------------------------------*/
#map{
    background: #2D2A2A;
    float: right;
    height: 858px;
    margin-top: 60px;
    margin-right: 30px;
    width: 430px;
    }

/*-----------------------------------
  Content form
-------------------------------------*/
#form{
  float: left;
  margin-top: 60px;
  margin-left: -10px;
  }
/*-----------------------------------
  Not display these fields in the view
-------------------------------------*/

#lastfield{
  height: 0px;
  display: none;
  }
  
/*-----------------------------------
  For content in site comfirm.html
-------------------------------------*/

 #confirm{
  margin: 150px auto;
  }
